body {
  font-family: 'Helvetica', 'Verdana', 'Arial', sans-serif;
  font-size: 14px;
  width: 90%;
  margin: 2% 5% 5%;
}

a:link,
a:visited {
  color: black;
}

a:hover {
  color: white;
  background-color: black;
}

.grid-container,
.grid-container-large {
  display: grid;
  gap: 4px;
}

.grid-container {
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

.grid-container-large {
  grid-template-columns: repeat(auto-fill, minmax(900px, 1fr));
}

.grid-item {
  position: relative;
}

img {
  width: 100%;
  max-width: 900px;
  height: auto;
  display: block;
  position: relative;
}

.time {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: white;
  opacity: 0.5;
}
