body {
    font-family: 'Helvetica', 'Verdana', 'Arial', sans-serif;
    font-size: 14px;
    width: 90%;
    margin: 2% 5% 5%;
}

a:link,
a:visited {
  color: black;
}

a:hover {
  color: white;
  background-color: black;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr)); /* Adjust the column width as needed */
  gap: 4px; /* Adjust the gap between items as needed */
}

.grid-item {
  position: relative;
}

/*
img {
  height: auto;
  max-width: 100%;
  max-height: 100%;
  display: inline-block; 
  position: relative;
}
*/
img {
  width: 100%;
  max-width: 900px;
  height: auto;
  display: block;
  position: relative;
}

.time {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: white;
  opacity: 0.5;
}